In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,Route,TruckType,duration,distance,weekday,month,day,diesel,year,Rate
0,Cross Border,15 M Flatbed Trailer,82054.9,1801.5,0,10,1,NaN,2018,3500.0
1,Local,15 M Flatbed Trailer,7307.8,127.3,0,10,1,NaN,2018,850.0
2,Cross Border,15 M Flatbed Trailer,28168.8,604.0,0,10,1,NaN,2018,2300.0
3,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,NaN,2018,750.0
4,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,NaN,2018,750.0

In [4]:
df1=df.interpolate()

In [5]:
df1.head()

,Route,TruckType,duration,distance,weekday,month,day,diesel,year,Rate
0,Cross Border,15 M Flatbed Trailer,82054.9,1801.5,0,10,1,NaN,2018,3500.0
1,Local,15 M Flatbed Trailer,7307.8,127.3,0,10,1,NaN,2018,850.0
2,Cross Border,15 M Flatbed Trailer,28168.8,604.0,0,10,1,NaN,2018,2300.0
3,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,NaN,2018,750.0
4,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,NaN,2018,750.0

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Route      6178 non-null   object
 1   TruckType  6178 non-null   object
 2   duration   6178 non-null   float64
 3   distance   6178 non-null   float64
 4   weekday    6178 non-null   int64
 5   month      6178 non-null   int64
 6   day        6178 non-null   int64
 7   diesel     5712 non-null   float64
 8   year       6178 non-null   int64
 9   Rate       6178 non-null   float64
dtypes: float64(4), int64(4), object(2)
memory usage: 482.8+ KB

In [7]:
df2=df1.fillna(method='bfill')

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Route      6178 non-null   object
 1   TruckType  6178 non-null   object
 2   duration   6178 non-null   float64
 3   distance   6178 non-null   float64
 4   weekday    6178 non-null   int64
 5   month      6178 non-null   int64
 6   day        6178 non-null   int64
 7   diesel     6178 non-null   float64
 8   year       6178 non-null   int64
 9   Rate       6178 non-null   float64
dtypes: float64(4), int64(4), object(2)
memory usage: 482.8+ KB

In [9]:
dummy1=pd.get_dummies(df2.Route)
dummy2=pd.get_dummies(df2.TruckType)

In [10]:
merged=pd.concat([df2,dummy1,dummy2],axis='columns')
merged

,Route,TruckType,duration,distance,weekday,month,day,diesel,year,Rate,Cross Border,Local,13.5 M Box Trailer,13.5 M Flatbed Trailer,15 M Box Trailer,15 M Flatbed Trailer
0,Cross Border,15 M Flatbed Trailer,82054.9,1801.5,0,10,1,2.30,2018,3500.0,1,0,0,0,0,1
1,Local,15 M Flatbed Trailer,7307.8,127.3,0,10,1,2.30,2018,850.0,0,1,0,0,0,1
2,Cross Border,15 M Flatbed Trailer,28168.8,604.0,0,10,1,2.30,2018,2300.0,1,0,0,0,0,1
3,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,2.30,2018,750.0,0,1,0,0,0,1
4,Local,15 M Flatbed Trailer,7307.8,127.3,1,10,2,2.30,2018,750.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,Cross Border,13.5 M Box Trailer,53345.4,1159.0,1,12,31,2.37,2019,4900.0,1,0,1,0,0,0
6174,Cross Border,13.5 M Flatbed Trailer,23867.3,501.7,1,12,31,2.37,2019,2150.0,1,0,0,1,0,0
6175,Cross Border,13.5 M Flatbed Trailer,23867.3,501.7,1,12,31,2.37,2019,2150.0,1,0,0,1,0,0
6176,Cross Border,13.5 M Flatbed Trailer,23867.3,501.7,1,12,31,2.37,2019,2150.0,1,0,0,1,0,0
6177,Cross Border,13.5 M Flatbed Trailer,23867.3,501.7,1,12,31,2.37,2019,2150.0,1,0,0,1,0,0

In [13]:
fdf=merged.drop(['Route','TruckType','Local','13.5 M Box Trailer','13.5 M Flatbed Trailer','duration','weekday','day'],axis='columns')
fdf

,distance,month,diesel,year,Rate,Cross Border,15 M Box Trailer,15 M Flatbed Trailer
0,1801.5,10,2.30,2018,3500.0,1,0,1
1,127.3,10,2.30,2018,850.0,0,0,1
2,604.0,10,2.30,2018,2300.0,1,0,1
3,127.3,10,2.30,2018,750.0,0,0,1
4,127.3,10,2.30,2018,750.0,0,0,1
...,...,...,...,...,...,...,...,...
6173,1159.0,12,2.37,2019,4900.0,1,0,0
6174,501.7,12,2.37,2019,2150.0,1,0,0
6175,501.7,12,2.37,2019,2150.0,1,0,0
6176,501.7,12,2.37,2019,2150.0,1,0,0
6177,501.7,12,2.37,2019,2150.0,1,0,0

In [14]:
fdf.columns

Index(['distance', 'month', 'diesel', 'year', 'Rate', 'Cross Border',
       '15 M Box Trailer', '15 M Flatbed Trailer'],
      dtype='object')

In [15]:
scaling_features = [feature for feature in fdf.columns if feature not in ['Cross Border', 'Rate','15 M Box Trailer','15 M Flatbed Trailer']]
scaling_features

['distance', 'month', 'diesel', 'year']

In [16]:
Y=fdf['Rate']

In [17]:
P=fdf[scaling_features]

In [18]:
P.head()

   distance  month  diesel  year
0    1801.5     10     2.3  2018
1     127.3     10     2.3  2018
2     604.0     10     2.3  2018
3     127.3     10     2.3  2018
4     127.3     10     2.3  2018

In [19]:
Y=np.asfarray(Y)

In [20]:
y=Y.reshape(-1,1)

In [21]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X= sc_X.fit_transform(P)
y1= sc_y.fit_transform(y)

In [24]:
x = pd.concat([fdf[['Cross Border','15 M Box Trailer','15 M Flatbed Trailer']].reset_index(drop=True), pd.DataFrame(X, columns = scaling_features)], axis =1)
print(x.shape)
x.head()

(6178, 7)

,Cross Border,15 M Box Trailer,15 M Flatbed Trailer,distance,month,diesel,year
0,1,0,1,1.449600,0.954982,-1.266155,-2.592778
1,0,0,1,-0.893044,0.954982,-1.266155,-2.592778
2,1,0,1,-0.226016,0.954982,-1.266155,-2.592778
3,0,0,1,-0.893044,0.954982,-1.266155,-2.592778
4,0,0,1,-0.893044,0.954982,-1.266155,-2.592778

In [25]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x, y1, test_size = 0.3, random_state = 0)

In [26]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf', C=10, gamma=0.2, epsilon=.1)
regressor.fit(X_Train, Y_Train)

E:\Anaconda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR(C=10, gamma=0.2)

In [27]:
y_pred = regressor.predict(X_Test)

In [28]:
from sklearn.metrics import r2_score
r2_score(Y_Test, y_pred)

0.954921136852859

In [29]:
import warnings
warnings.filterwarnings("ignore")

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf']}

In [32]:
grid = GridSearchCV(SVR(),param_grid,refit=True,verbose=2)
grid.fit(X_Train,Y_Train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   1.1s
[CV] C=0.1, gamma=1, kernel=rbf ......................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s

[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.8s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.7s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.8s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=0.1, gamma=0.1, kernel=rbf, total=   1.2s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=0.1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=0.1, gamma=0.1, kernel=rbf, total=   1.1s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=0.1, gamma=0.1, kernel=rbf, total=   1.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=0.1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=0.1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=0.1, gamma=0.01, kernel=rbf, total=   0.8s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=0.1, gamma=0.01, kernel=rbf, total=   0.8s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=0.1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=0.1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=0.1, gamma=0.001, kernel=rbf, total=   1.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=0.1, gamma=0.001, kernel=rbf, total=   1.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=0.1, gamma=0.001, kernel=rbf, total=   1.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=0.1, gamma=0.001, kernel=rbf, total=   1.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=0.1, gamma=0.001, kernel=rbf, total=   1.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......................... C=1, gamma=1, kernel=rbf, total=   0.8s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......................... C=1, gamma=1, kernel=rbf, total=   0.7s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......................... C=1, gamma=1, kernel=rbf, total=   0.7s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......................... C=1, gamma=1, kernel=rbf, total=   0.7s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV] ......................... C=1, gamma=1, kernel=rbf, total=   0.7s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....................... C=1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....................... C=1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....................... C=1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....................... C=1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV] ....................... C=1, gamma=0.1, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...................... C=1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...................... C=1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...................... C=1, gamma=0.01, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...................... C=1, gamma=0.01, kernel=rbf, total=   1.1s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV] ...................... C=1, gamma=0.01, kernel=rbf, total=   1.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..................... C=1, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..................... C=1, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..................... C=1, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..................... C=1, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV] ..................... C=1, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........................ C=10, gamma=1, kernel=rbf, total=   1.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........................ C=10, gamma=1, kernel=rbf, total=   1.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........................ C=10, gamma=1, kernel=rbf, total=   1.4s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........................ C=10, gamma=1, kernel=rbf, total=   1.2s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV] ........................ C=10, gamma=1, kernel=rbf, total=   1.4s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...................... C=10, gamma=0.1, kernel=rbf, total=   1.3s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...................... C=10, gamma=0.1, kernel=rbf, total=   1.4s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...................... C=10, gamma=0.1, kernel=rbf, total=   1.4s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...................... C=10, gamma=0.1, kernel=rbf, total=   1.3s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV] ...................... C=10, gamma=0.1, kernel=rbf, total=   1.3s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..................... C=10, gamma=0.01, kernel=rbf, total=   1.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..................... C=10, gamma=0.01, kernel=rbf, total=   1.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..................... C=10, gamma=0.01, kernel=rbf, total=   1.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..................... C=10, gamma=0.01, kernel=rbf, total=   1.1s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV] ..................... C=10, gamma=0.01, kernel=rbf, total=   1.1s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .................... C=10, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .................... C=10, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .................... C=10, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV] .................... C=10, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=10, gamma=0.001, kernel=rbf ...................................

[CV] .................... C=10, gamma=0.001, kernel=rbf, total=   0.9s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....................... C=100, gamma=1, kernel=rbf, total=   2.6s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....................... C=100, gamma=1, kernel=rbf, total=   2.1s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....................... C=100, gamma=1, kernel=rbf, total=   2.7s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....................... C=100, gamma=1, kernel=rbf, total=   2.6s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV] ....................... C=100, gamma=1, kernel=rbf, total=   2.4s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=100, gamma=0.1, kernel=rbf, total=   4.9s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=100, gamma=0.1, kernel=rbf, total=   6.5s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=100, gamma=0.1, kernel=rbf, total=   5.1s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=100, gamma=0.1, kernel=rbf, total=   6.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV] ..................... C=100, gamma=0.1, kernel=rbf, total=   6.4s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=100, gamma=0.01, kernel=rbf, total=   2.7s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=100, gamma=0.01, kernel=rbf, total=   2.7s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=100, gamma=0.01, kernel=rbf, total=   2.2s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=100, gamma=0.01, kernel=rbf, total=   2.5s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV] .................... C=100, gamma=0.01, kernel=rbf, total=   2.2s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=100, gamma=0.001, kernel=rbf, total=   1.1s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=100, gamma=0.001, kernel=rbf, total=   1.2s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=100, gamma=0.001, kernel=rbf, total=   1.2s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=100, gamma=0.001, kernel=rbf, total=   1.1s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV] ................... C=100, gamma=0.001, kernel=rbf, total=   1.0s

[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:  2.0min finished

GridSearchCV(estimator=SVR(),
             param_grid={'C': [0.1, 1, 10, 100], 'gamma': [1, 0.1, 0.01, 0.001],
                         'kernel': ['rbf']},
             verbose=2)

In [33]:
print(grid.best_estimator_)

SVR(C=100, gamma=1)

In [34]:
reg= SVR(kernel='rbf', C=100, gamma=1,epsilon=0.1)

In [35]:
reg.fit(X_Train, Y_Train)

SVR(C=100, gamma=1)

In [36]:
y_prednew = reg.predict(X_Test)

In [37]:
r2_score(Y_Test, y_prednew)

0.9641430652038643

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
rmse=np.sqrt(mean_squared_error(Y_Test, y_prednew))

In [40]:
print("The RMSE of Model is ",rmse)

The RMSE of Model is  0.18893994273431042

In [41]:
Y_Test

array([[ 0.03365878],
       [-1.12909155],
       [ 0.87083902],
       ...,
       [-1.14459489],
       [ 0.28171218],
       [ 0.06466546]])

In [42]:
y_new_inverse = sc_y.inverse_transform(y_prednew)

In [44]:
reg.score(X_Test,Y_Test)

0.9641430652038643

In [46]:
y_new_inverse

array([1988.47903523,  411.59506467, 3661.07317309, ...,  411.18048467,
       2411.54209026, 2246.77340091])

In [47]:
M_Train, M_Test, N_Train, N_Test = train_test_split(x, Y, test_size = 0.3, random_state = 0)

In [48]:
rmse2=np.sqrt(mean_squared_error(N_Test, y_new_inverse))

In [49]:
rmse2

304.6762345311962

# Ridge Regression

In [51]:
from sklearn.linear_model import Ridge

In [52]:
rid = Ridge(alpha=1.0)

In [53]:
rid.fit(X_Train, Y_Train)

Ridge()

In [54]:
y_predrid = rid.predict(X_Test)

In [55]:
r2_score(Y_Test, y_predrid)

0.8883486585051059

In [63]:
param_grid = {'alpha': [0.001,0.05,0.1,1, 10, 100]}

In [64]:
grid_rid = GridSearchCV(Ridge(),param_grid,refit=True,verbose=2)
grid_rid.fit(X_Train,Y_Train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV] alpha=0.001 .....................................................
[CV] ...................................... alpha=0.001, total=   0.0s
[CV] alpha=0.001 .....................................................
[CV] ...................................... alpha=0.001, total=   0.0s
[CV] alpha=0.001 .....................................................
[CV] ...................................... alpha=0.001, total=   0.0s
[CV] alpha=0.001 .....................................................
[CV] ...................................... alpha=0.001, total=   0.0s
[CV] alpha=0.001 .....................................................
[CV] ...................................... alpha=0.001, total=   0.0s
[CV] alpha=0.05 ......................................................
[CV] ....................................... alpha=0.05, total=   0.0s
[CV] alpha=0.05 ......................................................
[CV] ....................................... alpha=0.05, total=   0.0s
[CV] alpha=0.05 ......................................................
[CV] ....................................... alpha=0.05, total=   0.0s
[CV] alpha=0.05 ......................................................
[CV] ....................................... alpha=0.05, total=   0.0s
[CV] alpha=0.05 ......................................................
[CV] ....................................... alpha=0.05, total=   0.0s
[CV] alpha=0.1 .......................................................
[CV] ........................................ alpha=0.1, total=   0.0s
[CV] alpha=0.1 .......................................................
[CV] ........................................ alpha=0.1, total=   0.0s

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

[CV] alpha=0.1 .......................................................
[CV] ........................................ alpha=0.1, total=   0.0s
[CV] alpha=0.1 .......................................................
[CV] ........................................ alpha=0.1, total=   0.0s
[CV] alpha=0.1 .......................................................
[CV] ........................................ alpha=0.1, total=   0.0s
[CV] alpha=1 .........................................................
[CV] .......................................... alpha=1, total=   0.0s
[CV] alpha=1 .........................................................
[CV] .......................................... alpha=1, total=   0.0s
[CV] alpha=1 .........................................................
[CV] .......................................... alpha=1, total=   0.0s
[CV] alpha=1 .........................................................
[CV] .......................................... alpha=1, total=   0.0s
[CV] alpha=1 .........................................................
[CV] .......................................... alpha=1, total=   0.0s
[CV] alpha=10 ........................................................
[CV] ......................................... alpha=10, total=   0.0s
[CV] alpha=10 ........................................................
[CV] ......................................... alpha=10, total=   0.0s
[CV] alpha=10 ........................................................
[CV] ......................................... alpha=10, total=   0.0s
[CV] alpha=10 ........................................................
[CV] ......................................... alpha=10, total=   0.0s
[CV] alpha=10 ........................................................
[CV] ......................................... alpha=10, total=   0.0s
[CV] alpha=100 .......................................................
[CV] ........................................ alpha=100, total=   0.0s
[CV] alpha=100 .......................................................
[CV] ........................................ alpha=100, total=   0.0s
[CV] alpha=100 .......................................................
[CV] ........................................ alpha=100, total=   0.0s
[CV] alpha=100 .......................................................
[CV] ........................................ alpha=100, total=   0.0s
[CV] alpha=100 .......................................................
[CV] ........................................ alpha=100, total=   0.0s

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:    0.4s finished

GridSearchCV(estimator=Ridge(),
             param_grid={'alpha': [0.001, 0.05, 0.1, 1, 10, 100]}, verbose=2)

In [65]:
print(grid_rid.best_estimator_)

Ridge(alpha=0.1)

In [59]:
ridg = Ridge(alpha=0.1)

In [60]:
ridg.fit(X_Train, Y_Train)

Ridge(alpha=0.1)

In [61]:
y_predridg = ridg.predict(X_Test)

In [62]:
r2_score(Y_Test, y_predridg)

0.888347045089373

In [70]:
rmse_ridge=np.sqrt(mean_squared_error(Y_Test, y_predridg))

In [71]:
rmse_ridge

0.3334051540839056

In [72]:
yridg_new_inverse=sc_y.inverse_transform(y_predridg)

In [75]:
rmseridg2=np.sqrt(mean_squared_error(N_Test, yridg_new_inverse))

In [76]:
rmseridg2

537.634475005751